[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-openai = "*"
langchain-community = "*"
langchainhub = "*"
black = "*"
python-dotenv = "*"
streamlit = "*"
pandas = "*"
openai = "*"
pypandoc = "*"
markdown2 = "*"
streamlit-elements = "*"
streamlit-option-menu = "*"
typing-extensions = "*"

[dev-packages]

[requires]
python_version = "3.9"
